<div class="list-page-container">
   <div class="inputcont">
      <input class="search" matInput value="" placeholder="Search Command" [(ngModel)]="searchTerm">
   </div>

   <!-- <button mat-stroked-button class="search-button">Basic</button> -->

   <!-- <li *ngFor="let command of commands | commandFilter : searchTerm">
         <app-command [status]="command.status" [name]="command.name" [description]="command.desc"></app-command>
      </li> -->
   <mat-list class="mat-list">
      <h2 mat-subheader class="list-title">List of Commands</h2>
      <mat-list-item class="mat-list-item"

         *ngFor="let command of commands | commandFilter : searchTerm | paginate: { itemsPerPage: 10, currentPage: p }">
         <!-- <mat-icon mat-list-icon>lens</mat-icon> -->
         <mat-icon mat-list-icon>lens</mat-icon>
         <h3 class="command-name" mat-line>{{command.name}}</h3>
         <p mat-line class="command-desc"> {{command.desc}} </p>
      </mat-list-item>
   </mat-list>

   <pagination-controls (pageChange)="p = $event"></pagination-controls>
   <!-- <mat-paginator showFirstLastButtons [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator> -->
   <!-- <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayout.gt-xs="row">
         <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="length" fxFlex=80%></mat-paginator>
      </div> -->

            <mat-icon class="plus-button">
                  <a routerLink="/form">
                     add_circle_outline
                  </a>
            </mat-icon>

      
      
</div>