<!-- <p>opentickets works!</p> -->

        <section class="opentickets">
        <h1 class="display-4" class="body-2 mat-display-1" >List of open Tickets</h1>  
        
        <form>
        <mat-form-field class="example-full-width" appearance="outline">
        <input matInput [(ngModel)]="searchText" id="search" [ngModelOptions]="{standalone: true}" placeholder="Search Tickets">
        <i matSuffix class="material-icons">
                search
        </i>
        </mat-form-field>
        </form>
        <div *ngFor="let ticket of tickets | filter : searchText" class="mat-elevation-z2 wrapper" >
                
        <div style="text-align: left">
                   
        <h2 class="mat-body-strong">{{ ticket.description }}</h2>
                    
        </div>
        <div >
        <h3 class="mat-body-strong">{{ ticket.timeCreated | date }}</h3>
        </div>
               
        <div >
         <mat-chip-list *ngFor="let tag of ticket.tags" class="chips">
         <mat-chip>{{ tag }}</mat-chip>
        </mat-chip-list>
        </div>

        <div>  
        <button mat-stroked-button color="primary" (click)="assignMeClicked(ticket)">Assign Me</button>
        </div>
                 
       </div>
        
       </section>
    