 /* .example-container {
     /* display: flex;
    flex-direction: column;  */
    /* border: black;
    margin-left: 10px;
  
  }
  
  .example-container > * {
    width: 100%;
  } 
   /* .parameter-container{
    width: 100px;
    height: 100px;
  }  */
 
  .submit-button
  {
    
    float:right;
    margin-left: 10px;
    margin-right: 10px;
  
  }
  .cancel-button{
    float:right;
    margin-left: 10px;
    margin-right: 10px;
  } 

  .example-full-width {
    width: 100%;
  }

  .formAdd{
    /* display: flex;
    flex-direction: column; */
    margin-left: 10px;
  }
  .formAdd > *{
    width: 100%;
  }
   .container-fluid
  {
    padding-bottom: 10%;
  }