<div class="container-fluid">

  <form [formGroup]="Form" class="formAdd">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label> Name :</mat-label>
        <input matInput formControlName="name" type="text" required class="form-control" name="name" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <button (click)="addTags()" mat-raised-button color="primary">Add Tag</button>
      <div formArrayName="tags" *ngFor="let data of tags.controls; let i=index">
        <mat-form-field class="example-full-width">
          <input matInput type="text" class="form-control" placeholder="Tags" [formControlName]="i">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Description :</mat-label>
        <input matInput formControlName="desc" type="text" name="desc" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-radio-group aria-label="Status" required class="form-control" formControlName="status"> Status :
        <mat-radio-button value="1"> Active </mat-radio-button>
        <mat-radio-button value="2"> Inactive </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Usage :</mat-label>
        <input matInput formControlName="usage" type="text" name="usage" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <button (click)="addParameters()" mat-raised-button color="primary">Add Parameters</button>

      <div formArrayName="parameters" *ngFor="let data of parameters.controls; let i=index">
        <div [formGroupName]="i">
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control" formControlName="parameterName"
              placeholder="Parameter Name :">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control" placeholder="Default :" formControlName="default">
          </mat-form-field>
          <mat-radio-group class="form-control" formControlName="required">
            <mat-radio-button value="1"> Required </mat-radio-button>
            <mat-radio-button value="2"> Not Required </mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control" placeholder="Description  :" formControlName="description">
          </mat-form-field>
        </div>

      </div>
    </div>
    <div>
      <button class="cancel-button" (click)="onCancel()" mat-button mat-raised-button color="primary">Cancel</button>
    </div>
    <div>
      <button class="submit-button" (click)="onSubmit()" mat-button mat-raised-button color="primary">Submit</button>
    </div>


  </form>
</div>